.about-page {
    position: relative;

    .about__hero-section {
        height: 370px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 -250px;
        }
        .navbar-container {
            position: absolute;
            top: 290px;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }

    // .about-content {

    // }
}