.poster-cont {
    border-radius: 10px;
    overflow: hidden;

    .post-indicators-cont {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        .post-indicator {
            background: rgb(210, 210, 210);
            aspect-ratio: 1;
            border-radius: 25px;
            height: 12px;

            &:first-child {
                margin-right: 0.5rem;
            }
            &:nth-child(2) {
                margin-left: 0.5rem;
            }

            &.active-post {
                background-color: grey;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
    
    img {
        width: 100%;
    }
}