.participant-cont {
    padding: 5rem 4rem;
    font-family: 'Roboto', sans-serif;

    .table-cont {
        border-radius: 10px;
        overflow: hidden;

        .table-cont-header {
            background-color: rgb(37, 25, 8);
            color: white;
            padding: 1.25rem 1.75rem;
        }
        .table-content {
            padding: 1.75rem;
            background-color: white;
            border: 1px solid rgb(215, 215, 215);
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;

            .table-actions {

            }
            table {
                border-collapse: collapse;
                width: 100%;
                border-top: 1px solid rgb(163, 163, 163);

                thead {
                    th {
                        padding: 1.3rem 1rem;
                        text-align: left;

                        &.header-checkbox-cont {
                            width: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}