.side-panel {
  width: 220px;
  background-color: #251308;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .side-panel {
    width: 70px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (max-width: 650px) {
  .side-panel {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
  }
}

.side-panel .exit-menubar-cont {
  fill: white;
  font-size: 2em;
  margin-bottom: 2rem;
}

.side-panel .exit-menubar-cont:hover {
  fill: #FFDE99;
  cursor: pointer;
}

.side-panel .site-logo {
  font-family: 'vegan_style_personal_useRg';
  font-weight: 100;
  font-size: 0.8em;
  margin-bottom: 2.25rem;
}

@media screen and (max-width: 1200px) {
  .side-panel .site-logo {
    display: none;
  }
}

.side-panel .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  gap: 10px;
  margin-bottom: 2.25rem;
}

.side-panel .user-info .profile-img-cont {
  width: 40px;
  background: #ededed;
  border-radius: 8px;
}

.side-panel .user-info .profile-content-cont .user-email {
  font-size: 0.9em;
  color: #c8c8c8;
}

@media screen and (max-width: 1200px) {
  .side-panel .user-info {
    display: none;
  }
}

.side-panel .nav-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.side-panel .nav-cont .main-nav-cont .app-nav-cont {
  margin-bottom: 2rem;
}

@media screen and (max-width: 1200px) {
  .side-panel .nav-cont .main-nav-cont .app-nav-cont {
    margin-bottom: 5rem;
  }
}

.side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-header {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 0.8em;
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 1200px) {
  .side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-header {
    text-align: center;
  }
}

.side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item {
  margin-bottom: 0.5rem;
}

.side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item .nav-content {
  padding: 0.7rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item .nav-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 650px) {
  .side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item .nav-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item .nav-content .nav-icon-cont {
  fill: #c8c8c8;
  font-size: 1.4em;
}

@media screen and (max-width: 1200px) {
  .side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item .nav-content .nav-icon-cont {
    font-size: 2em;
  }
}

.side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item .nav-content .nav-text {
  text-decoration: none;
  color: #c8c8c8;
  font-size: 0.9em;
}

@media screen and (max-width: 1200px) {
  .side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item .nav-content .nav-text {
    font-size: 0.8em;
    text-align: center;
  }
}

.side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item .nav-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item .nav-content:hover {
  background: rgba(255, 255, 255, 0.046);
}

.side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item .nav-content.active-nav {
  background: rgba(190, 173, 140, 0.12);
}

.side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item .nav-content.active-nav .nav-icon-cont {
  fill: #FFDE99;
}

.side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item .nav-content.active-nav .nav-text {
  color: #FFDE99;
}

.side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item ul {
  margin-left: 1.8rem;
  overflow-y: hidden;
  padding-left: 1.2rem;
}

.side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item ul .lesson-item {
  display: list-item;
  margin-bottom: 0.7rem;
  text-decoration: none;
  color: #d8d8d8;
  font-size: 0.9em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item ul .lesson-item.active-lesson-link {
  color: #f7c047;
  pointer-events: none;
}

.side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item ul .lesson-item:nth-child(1) {
  margin-top: 0.5rem;
}

.side-panel .nav-cont .main-nav-cont .app-nav-cont .nav-item ul .lesson-item:last-child {
  margin-bottom: 1rem;
}

.side-panel .nav-cont .nav-setting-item .nav-content {
  padding: 0.7rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .side-panel .nav-cont .nav-setting-item .nav-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.side-panel .nav-cont .nav-setting-item .nav-content .nav-icon-cont {
  fill: #c8c8c8;
  font-size: 1.4em;
}

@media screen and (max-width: 1200px) {
  .side-panel .nav-cont .nav-setting-item .nav-content .nav-icon-cont {
    font-size: 2em;
  }
}

.side-panel .nav-cont .nav-setting-item .nav-content .nav-text {
  text-decoration: none;
  color: #c8c8c8;
  font-size: 0.9em;
}

.side-panel .nav-cont .nav-setting-item .nav-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-panel .nav-cont .nav-setting-item .nav-content:hover {
  background: rgba(255, 255, 255, 0.046);
}

.side-panel .nav-cont .nav-setting-item .nav-content.active-nav {
  background: rgba(190, 173, 140, 0.12);
}

.side-panel .nav-cont .nav-setting-item .nav-content.active-nav .nav-icon-cont {
  fill: #FFDE99;
}

.side-panel .nav-cont .nav-setting-item .nav-content.active-nav .nav-text {
  color: #FFDE99;
}
/*# sourceMappingURL=Sidebar.css.map */