@import '../AppBreakpoints.scss';

$panel-bkg: #251308;

.side-panel {
    width: 220px;
    background-color: $panel-bkg;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;

    @include custom-breakpoint(1200px) {
        width: 70px;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
    @include custom-breakpoint (650px) {
        // display: none;
        box-sizing: border-box;
        width: 100vw;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 99999;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3rem;
    }

    .exit-menubar-cont {
        fill: white;
        font-size: 2em;
        margin-bottom: 2rem;

        &:hover {
            fill: #FFDE99;
            cursor: pointer;
        }
    }

    .site-logo {
        font-family: 'vegan_style_personal_useRg';
        font-weight: 100;
        font-size: 0.8em;
        margin-bottom: 2.25rem;

        @include custom-breakpoint(1200px) {
            display: none;
        }
    }
    .user-info {
        display: flex;
        height: 40px;
        gap: 10px;
        margin-bottom: 2.25rem;

        .profile-img-cont {
            width: 40px;
            background: rgb(237, 237, 237);
            border-radius: 8px;
        }
        .profile-content-cont {
            .user-email {
                font-size: 0.9em;
                color: rgb(200, 200, 200);
            }
        }
        @include custom-breakpoint(1200px) {
            display: none;
        }
    }
    .nav-cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        .main-nav-cont {
            .app-nav-cont {
                margin-bottom: 2rem;

                @include custom-breakpoint (1200px) {
                    margin-bottom: 5rem;
                }
                
                .nav-header {
                    color: rgba(255, 255, 255, 0.5);
                    font-weight: 400;
                    font-size: 0.8em;
                    margin-bottom: 0.75rem;

                    @include custom-breakpoint (1200px) {
                        text-align: center;
                    }
                }
                .nav-item {
                    margin-bottom: 0.5rem;
                    .nav-content {
                        padding: 0.7rem 1rem;
                        display: flex;
                        gap: 10px;
                        border-radius: 10px;
                        text-decoration: none;

                        @include custom-breakpoint (1200px) {
                            flex-direction: column;
                            align-items: center;
                        }
                        @include custom-breakpoint (650px) {
                            flex-direction: row;
                        }
                        
                        .nav-icon-cont {
                            fill: rgb(200, 200, 200);
                            font-size: 1.4em;

                            @include custom-breakpoint (1200px) {
                                font-size: 2em;
                            }
                        }
                        .nav-text {
                            text-decoration: none;
                            color: rgb(200, 200, 200);
                            font-size: 0.9em;

                            @include custom-breakpoint(1200px) {
                                font-size: 0.8em;
                                text-align: center;
                            }
                        }
                        div {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                        &:hover {
                            background: rgba(255, 255, 255, 0.046);
                        }
                        &.active-nav {
                            background: rgba(190, 173, 140, 0.12);
        
                            .nav-icon-cont {
                                fill: #FFDE99;
                            }
                            .nav-text {
                                color: #FFDE99;
                            }
                        }
                    }
                    ul {
                        margin-left: 1.8rem;
                        overflow-y: hidden;
                        padding-left: 1.2rem;
                        
                        .lesson-item {
                            display: list-item;
                            margin-bottom: 0.7rem;
                            text-decoration: none;
                            color: rgb(216, 216, 216);
                            font-size: 0.9em;
                            user-select: none;
        
                            &.active-lesson-link {
                                color: #f7c047;
                                pointer-events: none;
                            }
                            &:nth-child(1) {
                                margin-top: 0.5rem;
                            }
                            &:last-child {
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
            }
        }

        .nav-setting-item {
            .nav-content {
                padding: 0.7rem 1rem;
                display: flex;
                gap: 10px;
                border-radius: 10px;
                text-decoration: none;

                @include custom-breakpoint (1200px) {
                    flex-direction: column;
                    align-items: center;
                }
                
                .nav-icon-cont {
                    fill: rgb(200, 200, 200);
                    font-size: 1.4em;

                    @include custom-breakpoint (1200px) {
                        font-size: 2em;
                    }
                }
                .nav-text {
                    text-decoration: none;
                    color: rgb(200, 200, 200);
                    font-size: 0.9em;
                }
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                &:hover {
                    background: rgba(255, 255, 255, 0.046);
                }
                &.active-nav {
                    background: rgba(190, 173, 140, 0.12);

                    .nav-icon-cont {
                        fill: #FFDE99;
                    }
                    .nav-text {
                        color: #FFDE99;
                    }
                }
            }
        }
    }
}