.evaluation-cont {
    font-family: 'Roboto', sans-serif;
    padding: 3rem 5rem;

    h1 {
        font-size: 3.5em;
        font-weight: 400;
        margin-bottom: 4rem;
    }

    .eval-cont {
        margin-bottom: 5rem;

        h2 {
            font-weight: 400;
            margin-bottom: 1rem;
        }
        p {
            font-weight: 300;
            line-height: 1.4rem;
            margin-bottom: 1rem;
        }
    }
}