.navbar {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 6rem;
    z-index: 999;
    pointer-events: all;

    &.home-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;    
    }
    &.about-nav {
        position: sticky;
        top: 0;
    }

    .site-logo {
        font-family: 'arkipelagoregular';
        font-size: 1.5em;
        user-select: none;
    }

    .nav-links {
        .nav-link {
            color: rgb(211, 211, 211);
            text-decoration: none;
            padding: 0 2rem;
            font-family: 'Roboto', sans-serif;
            
            &:hover {
                cursor: pointer;
            }
            &.active-nav {
                color: rgb(154, 154, 154);
                cursor: default;
            }

            &:not(.active-nav):hover {
                color: white;
            }
        }

    }
}