.dashboard {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  -ms-grid-columns: 1fr 1fr 0.65fr;
      grid-template-columns: 1fr 1fr 0.65fr;
  -ms-grid-rows: auto 12rem 20rem;
      grid-template-rows: auto 12rem 20rem;
  grid-gap: 1.2rem;
  grid-auto-rows: minmax(5rem, auto);
  background-color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 6rem;
}

.dashboard .banner-cont {
  background-color: white;
  border-radius: 10px;
  border: 0.25px solid #d5d5d5;
  overflow: hidden;
}

.dashboard .banner-header {
  font-weight: 400;
  margin-bottom: 0.75rem;
}

.dashboard .greeting-cont {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  height: 24rem;
  position: relative;
}

@media screen and (max-width: 570px) {
  .dashboard .greeting-cont {
    height: 30rem;
  }
}

.dashboard .greeting-cont .greeting-toggler-cont {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 50;
}

.dashboard .greeting-cont .greeting-toggler-cont .toggler {
  width: 10px;
  height: 10px;
  background-color: #d2d2d2;
  border-radius: 5px;
}

.dashboard .greeting-cont .greeting-toggler-cont .toggler.active {
  background: #b4b4b4;
  cursor: default;
}

.dashboard .greeting-cont .greeting-toggler-cont .toggler:not(.active):hover {
  cursor: pointer;
}

.dashboard .greeting-cont .banner {
  width: 100%;
  height: 100%;
}

.dashboard .greeting-cont .banner-1 {
  background-color: #FFF4DC;
  padding: 3rem 5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

@media screen and (max-width: 650px) {
  .dashboard .greeting-cont .banner-1 {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .dashboard .greeting-cont .banner-1 {
    padding: 3.5rem 1rem;
  }
}

.dashboard .greeting-cont .banner-1 .banner-text {
  font-size: 4em;
  margin-bottom: 2rem;
  position: relative;
  z-index: 10;
}

.dashboard .greeting-cont .banner-1 .banner-text .logo-text {
  font-family: 'vegan_style_personal_useRg';
  font-size: 0.75em;
}

.dashboard .greeting-cont .banner-1 .start-journey {
  padding: 0.75rem 2rem;
  border: 2px solid black;
  background: transparent;
  border-radius: 25px;
  position: relative;
  z-index: 20;
}

.dashboard .greeting-cont .banner-1 .start-journey:hover {
  cursor: pointer;
}

.dashboard .greeting-cont .banner-1 img {
  position: absolute;
  right: 0;
  bottom: 2rem;
  height: 65%;
}

@media screen and (max-width: 400px) {
  .dashboard .greeting-cont .banner-1 img {
    display: none;
  }
}

.dashboard .greeting-cont .banner-2 .banner-text {
  z-index: 10;
  height: 100%;
  padding: 1.5rem 4rem;
  position: relative;
}

@media screen and (max-width: 550px) {
  .dashboard .greeting-cont .banner-2 .banner-text {
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 400px) {
  .dashboard .greeting-cont .banner-2 .banner-text {
    padding: 3rem 1rem;
  }
}

.dashboard .greeting-cont .banner-2 .banner-text h1 {
  font-family: 'vegan_style_personal_useRg';
  font-size: 4em;
  margin-bottom: 1rem;
}

@media screen and (max-width: 850px) {
  .dashboard .greeting-cont .banner-2 .banner-text h1 {
    font-size: 2.65em;
    text-align: center;
  }
}

.dashboard .greeting-cont .banner-2 .banner-text p {
  font-weight: 300;
  font-size: 0.9em;
  margin: 0.5rem 2rem;
}

.dashboard .greeting-cont .banner-2 .banner-text button {
  margin-left: 2rem;
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

.dashboard .greeting-cont .banner-2 .banner-text button:hover {
  cursor: pointer;
}

.dashboard .greeting-cont .banner-2 .banner-text button.seminar-joining {
  background-color: green;
  color: white;
}

.dashboard .greeting-cont .banner-2 .banner-text button.seminar-not-joining {
  background-color: red;
  color: white;
}

.dashboard .greeting-cont .banner-2 .banner-text button:disabled {
  cursor: not-allowed;
  background-color: #b8b8b8;
  color: black;
}

.dashboard .greeting-cont .banner-2 .meeting-svg {
  position: absolute;
  right: 5rem;
  bottom: 0;
  width: 20rem;
  height: 100%;
  z-index: 2;
}

@media screen and (max-width: 900px) {
  .dashboard .greeting-cont .banner-2 .meeting-svg {
    display: none;
  }
}

.dashboard .calendar-grid-cont {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 900px) {
  .dashboard .calendar-grid-cont {
    display: none;
  }
}

.dashboard .calendar-grid-cont .calendar-cont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
}

.dashboard .task-grid-cont {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 900px) {
  .dashboard .task-grid-cont {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
}

@media screen and (max-width: 700px) {
  .dashboard .task-grid-cont {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.dashboard .task-grid-cont .tasks-cont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.75rem 1rem;
}

.dashboard .task-grid-cont .tasks-cont .task-list {
  display: list-item;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #be6500;
}

.dashboard .task-grid-cont .tasks-cont .task-list:hover {
  color: #8a4a00;
}

.dashboard .progress-grid-cont {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  padding: 1.75rem;
}

@media screen and (max-width: 900px) {
  .dashboard .progress-grid-cont {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
}

@media screen and (max-width: 700px) {
  .dashboard .progress-grid-cont {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
}

.dashboard .progress-grid-cont .progress-header {
  margin-bottom: 1.5rem;
}

.dashboard .progress-grid-cont .progress-cont {
  padding: 0.5rem;
}
/*# sourceMappingURL=Dashboard.css.map */