@import '../AppBreakpoints.scss';

.dashboard {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 0.65fr;
    grid-template-rows: auto 12rem 20rem;
    grid-gap: 1.2rem;
    grid-auto-rows: minmax(5rem, auto);
    background-color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 6rem;

    // General Styles
    .banner-cont {
        background-color: white;
        border-radius: 10px;
        border: 0.25px solid #d5d5d5;
        overflow: hidden;
    }
    .banner-header {
        font-weight: 400;
        margin-bottom: 0.75rem;
    }

    // Specific styles
    .greeting-cont {
        grid-column: 1/4;
        position: relative;

        .greeting-toggler-cont {
            position: absolute;
            bottom: 1.5rem;
            left: 50%;
            display: flex;
            gap: 1rem;
            transform: translateX(-50%);
            z-index: 50;

            .toggler {
                width: 10px;
                height: 10px;
                background-color: rgb(210, 210, 210);
                border-radius: 5px;

                &.active {
                    background: rgb(180, 180, 180);
                    cursor: default;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .banner {
            width: 100%;
            height: 100%;
        }

        .banner-1 {
            background-color: #FFF4DC;
            padding: 3rem 5rem;
            box-sizing: border-box;
            height: 100%;

            @include custom-breakpoint (650px) {
                text-align: center;
            }
            @include custom-breakpoint (400px) {
                padding: 3.5rem 1rem;
            }

            .banner-text {
                font-size: 4em;
                margin-bottom: 2rem;
                position: relative;
                z-index: 10;

                .logo-text {
                    font-family: 'vegan_style_personal_useRg';
                    font-size: 0.75em;
                }
            }
            .start-journey {
                padding: 0.75rem 2rem;
                border: 2px solid black;
                background: transparent;
                border-radius: 25px;
                position: relative;
                z-index: 20;

                &:hover {
                    cursor: pointer;
                }
            }
            img {
                position: absolute;
                right: 0;
                bottom: 2rem;
                height: 65%;

                @include custom-breakpoint (400px) {
                    display: none;
                }
            }
        }
    }
    .calendar-grid-cont {
        grid-column: 1/3;
        grid-row: 2/4;
        display: flex;
        flex-direction: column;

        @include custom-breakpoint (900px) {
            display: none;
        }

        .calendar-cont {
            flex: 1;
        }

    }
    .task-grid-cont {
        grid-column: 3/4;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;

        @include custom-breakpoint (900px) {
            grid-column: 1/2;
            grid-row: 2/4;
        }
        @include custom-breakpoint (700px) {
            grid-column: 1/4;
            grid-row: 2/3;
        }

        .tasks-cont {
            flex: 1;
            padding: 1.75rem 1rem;

            .task-list {
                display: list-item;
                margin-left: 2rem;
                margin-bottom: 0.5rem;
                text-decoration: none;
                color: rgb(190, 101, 0);
                &:hover {
                    color: rgb(138, 74, 0);
                }
            }
        }
    }
    .progress-grid-cont {
        grid-column: 3/4;
        grid-row: 3/4;
        padding: 1.75rem;

        @include custom-breakpoint (900px) {
            grid-column: 2/4;
            grid-row: 2/4;
        }
        @include custom-breakpoint (700px) {
            grid-column: 1/4;
            grid-row: 3/5;
        }

        .progress-header {
            margin-bottom: 1.5rem;
        }
        .progress-cont {
            padding: 0.5rem;
        }
    }
}