.dashboard {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  -ms-grid-columns: 1fr 1fr 0.65fr;
      grid-template-columns: 1fr 1fr 0.65fr;
  -ms-grid-rows: auto 12rem 20rem;
      grid-template-rows: auto 12rem 20rem;
  grid-gap: 1.2rem;
  grid-auto-rows: minmax(5rem, auto);
  background-color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 6rem;
}

.dashboard .banner-cont {
  background-color: white;
  border-radius: 10px;
  border: 0.25px solid #d5d5d5;
  overflow: hidden;
}

.dashboard .banner-header {
  font-weight: 400;
  margin-bottom: 0.75rem;
}

.dashboard .greeting-cont {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  position: relative;
}

.dashboard .greeting-cont .greeting-toggler-cont {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 50;
}

.dashboard .greeting-cont .greeting-toggler-cont .toggler {
  width: 10px;
  height: 10px;
  background-color: #d2d2d2;
  border-radius: 5px;
}

.dashboard .greeting-cont .greeting-toggler-cont .toggler.active {
  background: #b4b4b4;
  cursor: default;
}

.dashboard .greeting-cont .greeting-toggler-cont .toggler:hover {
  cursor: pointer;
}

.dashboard .greeting-cont .banner {
  width: 100%;
  height: 100%;
}

.dashboard .greeting-cont .banner-1 {
  background-color: #FFF4DC;
  padding: 3rem 5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

.dashboard .greeting-cont .banner-1 .banner-text {
  font-size: 4em;
  margin-bottom: 2rem;
}

.dashboard .greeting-cont .banner-1 .banner-text .logo-text {
  font-family: 'vegan_style_personal_useRg';
  font-size: 0.75em;
}

.dashboard .greeting-cont .banner-1 .start-journey {
  padding: 0.75rem 2rem;
  border: 2px solid black;
  background: transparent;
  border-radius: 25px;
}

.dashboard .greeting-cont .banner-1 .start-journey:hover {
  cursor: pointer;
}

.dashboard .greeting-cont .banner-1 img {
  position: absolute;
  right: 0;
  bottom: 2rem;
  height: 65%;
}

.dashboard .calendar-grid-cont {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard .calendar-grid-cont .calendar-cont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dashboard .task-grid-cont {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard .task-grid-cont .tasks-cont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.75rem 1rem;
}

.dashboard .task-grid-cont .tasks-cont .task-list {
  display: list-item;
  margin-left: 2rem;
  text-decoration: none;
  color: #be6500;
}

.dashboard .task-grid-cont .tasks-cont .task-list:hover {
  color: #8a4a00;
}

.dashboard .progress-grid-cont {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  padding: 1.75rem;
}

.dashboard .progress-grid-cont .progress-header {
  margin-bottom: 1.5rem;
}

.dashboard .progress-grid-cont .progress-cont {
  padding: 0.5rem;
}
/*# sourceMappingURL=Dashboard.css.map */