.footer {
    padding: 5rem 10rem;
    display: flex;
    background-color: #231D1A;
    color: white;

    .site-info {
        flex: 1;

        .site-logo {
            margin-bottom: 1rem;
        }
        .site-links {
            padding-left: 4rem;
            .site-link {
                display: block;
                margin-bottom: 1rem;
                text-decoration: none;
                color: white;
            }
        }
    }
    .members-info {
        width: 200px;

        .members-header {
            margin-bottom: 1rem;
        }
        .members-list {
            padding-left: 2rem;

            p {
                margin-bottom: 0.5rem;
            }
        }
    }
}