.admin-dashboard {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    padding: 2rem 3rem;

    .page-header {
        font-size: 3.5em;
        font-weight: 300;
        margin-bottom: 2rem;
    }
    .dashboard-cont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 1rem;
        grid-gap: 1.5rem;

        .info-cont {
            border-radius: 10px;
            border: 1px solid #e1e1e1;
            background-color: white;
            padding: 1.75rem;
            box-sizing: border-box;
            
            &.number-of-participants {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                user-select: none;
                grid-row: 1/2;

                .count-up {
                    margin-bottom: 0.5rem;
                    font-size: 4.5em;
                    font-weight: 400;
                    color: #d18f00;
                }
            }

            &.task-progress {
                display: flex;
                grid-column: 2/5;

                .total-progress {
                    display: flex;
                    flex-direction: column;
                    
                    h3 {
                        margin-bottom: 1.5rem;
                        font-weight: 400;
                        font-size: 1em;
                    }
                    .CircularProgressbar {
                        // display: none;
                        height: 8.5rem;
                    }
                }
                .progress-details {
                    flex: 1;
                }
            }
        }
    }
}