@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@700&display=swap');

.intro-cont {
    padding: 3rem 5rem;
    
    h1 {
        font-family: 'Palanquin', sans-serif;
        font-size: 3em;
        margin-bottom: 1.5rem;
    }
    p {
        font-family: 'Roboto', sans-serif;
        margin-bottom: 1.5rem;
        text-indent: 50px;
        line-height: 1.5rem;
        text-align: justify;
    }

    .text-cont {
        margin-bottom: 5rem;

        .task-ans-cont {
            p {
                text-indent: 0;
            }

        } 
    }
}