@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@700&display=swap');
@import '../../../AppBreakpoints.scss';

.intro-cont {
    padding: 3rem 5rem;

    @include custom-breakpoint (950px) {
        padding: 2rem 3rem;
    }
    @include custom-breakpoint (400px) {
        padding: 1.5rem 1rem;
    }
    
    .text-header {
        font-family: 'Palanquin', sans-serif;
        font-size: 3em;
        margin-bottom: 1.5rem;

        @include custom-breakpoint (700px) {
            font-size: 2.25em;
        }
    }
    .text-p {
        font-family: 'Roboto', sans-serif;
        margin-bottom: 1.5rem;
        text-indent: 50px;
        line-height: 1.5rem;
        text-align: justify;
    }

    .text-cont {
        margin-bottom: 5rem;
    }

    hr {
        background-color: rgba(255, 255, 255, 0.2);
        border: 0.5px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 2rem;
    }

    .task-cont {
        button {
            margin-top: 2rem;
            padding: 0.25rem 0.8rem;
            border-radius: 0;
            border: 1px solid rgb(207, 207, 207);
            background: white;

            &:hover {
                cursor: pointer;
                background-color: rgb(248, 248, 248);
            }
        }

        .task-editor-cont {
            button {
                margin-right: 2rem;
            }
        }        

        .task-ans-cont {
            margin: 0 4rem;
        }

    }
}